.create-recipe-container {
  margin-top: 200px;
  margin-left: 70px;
  padding: 20px;
  font-family: Helvetica;
}

.back-arrow {
    position: absolute;
    top: 70px;
    left: 40px;
    font-size: 24px;
    cursor: pointer;
    color: #888;
    z-index: 10;
}

.logo-image {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 30%;
    max-width: 350px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.form-group {
  width: calc(100% - 40px);
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-field {
  width: 69.8%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f9f4f4;
  font-size: 16px;
  outline: none;
  margin-top: 10px;
  margin-left: 63px;
  transition: border 0.2s ease, background-color 0.2s ease;
  color: #666;
}

.input-field:focus {
  border: 2px solid #00bfff;
  background-color: #ffffff;
}

.input-field::placeholder {
  color: #999;
}

.ingredient-add-field {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f9f4f4;
  font-size: 16px;
  outline: none;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  transition: border 0.2s ease, background-color 0.2s ease;
  color: #666;
}

.ingredient-add-field:focus {
  border: 2px solid #00bfff;
  background-color: #ffffff;
}

.ingredient-add-field::placeholder {
  color: #999;
}

.search-results {
  position: absolute;
  top: calc(100% + 5px); /* Abaixo do campo */
  margin-left: 175px; /* Alinha à esquerda */
  width: 50%; /* Mesma largura do campo */
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-height: 150px;
  overflow-y: auto;
  z-index: 100;
}

.search-item {
  padding: 12px 16px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transition: background 0.2s;
}

.search-item:hover,
.search-item.active {
  background-color: #e6f7ff;
  color: #00bfff;
}

.add-ingredient {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.ingredient-item {
  display: block;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.ingredient-item:last-child {
  border-bottom: none;
}

.selected-ingredient {
  margin-top: 30px;
}

.quantity-field {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f9f4f4;
  font-size: 16px;
  outline: none;
  margin-top: 10px;
  margin-right: 20px;
  transition: border 0.2s ease, background-color 0.2s ease;
  color: #666;
}

.quantity-field:focus {
  border: 2px solid #00bfff;
  background-color: #ffffff;
}

.quantity-field::placeholder {
  color: #999;
}

.btn-add {
  background-color: #00bfff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-add:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.ingredients-list {
  margin-top: 20px;
  margin-left: 40px;
}

.btn-remove {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 30px;
}

.totals {
  margin-top: 20px;
  margin-left: 40px;
}

.total-list {
  margin-top: 10px;
  margin-left: 20px;
}

.item {
  margin-bottom: 10px;
}

.btn-save {
  background-color: #00bfff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 40px;
}

.btn-save:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/*Responsividade*/
/*Tablet*/
@media (max-width: 768px) {
  .create-recipe-container {
    margin-top: 150px;
    margin-left: -20px;
    padding: 20px;
    font-family: Helvetica;
  }

  .back-arrow {
      position: absolute;
      top: 70px;
      left: 20px;
      font-size: 24px;
      cursor: pointer;
      color: #888;
      z-index: 10;
  }

  .logo-image {
      position: absolute;
      top: 30px;
      right: 10px;
      width: 30%;
      max-width: 350px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
  }

  .form-group {
    width: calc(100% - 40px);
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .input-field {
    width: 75%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f9f4f4;
    font-size: 16px;
    outline: none;
    margin-top: 10px;
    margin-left: 63px;
    transition: border 0.2s ease, background-color 0.2s ease;
    color: #666;
  }

  .input-field:focus {
    border: 2px solid #00bfff;
    background-color: #ffffff;
  }

  .input-field::placeholder {
    color: #999;
  }

  .ingredient-add-field {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f9f4f4;
    font-size: 16px;
    outline: none;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    transition: border 0.2s ease, background-color 0.2s ease;
    color: #666;
  }

  .ingredient-add-field:focus {
    border: 2px solid #00bfff;
    background-color: #ffffff;
  }

  .ingredient-add-field::placeholder {
    color: #999;
  }

  .search-results {
    position: absolute;
    top: calc(100% + 5px); /* Abaixo do campo */
    margin-left: 175px; /* Alinha à esquerda */
    width: 40%; /* Mesma largura do campo */
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-height: 150px;
    overflow-y: auto;
    z-index: 100;
  }

  .search-item {
    padding: 12px 16px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    transition: background 0.2s;
  }

  .search-item:hover,
  .search-item.active {
    background-color: #e6f7ff;
    color: #00bfff;
  }

  .add-ingredient {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
  }

  .ingredient-item {
    display: block;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #eee;
  }

  .ingredient-item:last-child {
    border-bottom: none;
  }

  .selected-ingredient {
    margin-top: 30px;
  }

  .quantity-field {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f9f4f4;
    font-size: 16px;
    outline: none;
    margin-top: 10px;
    margin-right: 20px;
    transition: border 0.2s ease, background-color 0.2s ease;
    color: #666;
  }

  .quantity-field:focus {
    border: 2px solid #00bfff;
    background-color: #ffffff;
  }

  .quantity-field::placeholder {
    color: #999;
  }

  .btn-add {
    background-color: #00bfff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .btn-add:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .ingredients-list {
    margin-top: 20px;
    margin-left: 40px;
  }

  .btn-remove {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 30px;
  }

  .totals {
    margin-top: 20px;
    margin-left: 40px;
  }

  .total-list {
    margin-top: 10px;
    margin-left: 20px;
  }

  .item {
    margin-bottom: 10px;
  }

  .btn-save {
    background-color: #00bfff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 28px;
  }

  .btn-save:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

/*Mobile*/
@media (max-width: 300px) {
  .create-recipe-container {
    margin-top: 120px;
    margin-left: -20px;
    padding: 20px;
    font-family: Helvetica;
  }

  .back-arrow {
      position: absolute;
      top: 35px;
      left: 20px;
      font-size: 24px;
      cursor: pointer;
      color: #888;
      z-index: 10;
  }

  .logo-image {
      position: absolute;
      top: 30px;
      right: 10px;
      width: 50%;
      max-width: 350px;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
  }

  .form-group {
    width: calc(100% - 40px);
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 12px;
  }

  .input-field {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: #f9f4f4;
    font-size: 12px;
    outline: none;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 10px;
    transition: border 0.2s ease, background-color 0.2s ease;
    color: #666;
  }

  .input-field:focus {
    border: 2px solid #00bfff;
    background-color: #ffffff;
  }

  .input-field::placeholder {
    color: #999;
  }

  .ingredient-add-field {
    width: 74%;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: #f9f4f4;
    font-size: 12px;
    outline: none;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    transition: border 0.2s ease, background-color 0.2s ease;
    color: #666;
  }

  .ingredient-add-field:focus {
    border: 2px solid #00bfff;
    background-color: #ffffff;
  }

  .ingredient-add-field::placeholder {
    color: #999;
  }

  .search-results {
    position: absolute;
    top: 115px; /* Abaixo do campo */
    margin-left: 1px; /* Alinha à esquerda */
    width: 73.2%; /* Mesma largura do campo */
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-height: 150px;
    overflow-y: auto;
    z-index: 100;
  }

  .search-item {
    padding: 12px 16px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    transition: background 0.2s;
  }

  .search-item:hover,
  .search-item.active {
    background-color: #e6f7ff;
    color: #00bfff;
  }

  .add-ingredient {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
  }

  .ingredient-item {
    display: block;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #eee;
  }

  .ingredient-item:last-child {
    border-bottom: none;
  }

  .selected-ingredient {
    margin-top: 30px;
  }

  .quantity-field {
    width: 60px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: #f9f4f4;
    font-size: 12px;
    outline: none;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 0px;
    transition: border 0.2s ease, background-color 0.2s ease;
    color: #666;
  }

  .quantity-field:focus {
    border: 2px solid #00bfff;
    background-color: #ffffff;
  }

  .quantity-field::placeholder {
    color: #999;
  }

  .btn-add {
    background-color: #00bfff;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .btn-add:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  h3 {
    font-size: 16px;
  }

  .ingredients-list {
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
    font-size: 12px;
  }

  .btn-remove {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 8px;
  }

  .totals {
    margin-top: 20px;
    margin-left: 20px;
  }

  .total-list {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 12px;
  }

  .item {
    margin-bottom: 10px;
  }

  .btn-save {
    background-color: #00bfff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 100px;
  }

  .btn-save:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}