<div class="chart-container">
  <svg width="100%" height="100%" viewBox="-5 -5 200 200" class="chart-svg" font-family="Arial" (click)="openDailyFoodPopup()" (mouseleave)="hideTooltip()">
    <!-- Anel externo: Calorias -->
    <circle
      cx="80"
      cy="80"
      [attr.r]="outerRadius"
      [attr.stroke]="caloriasPercentage > 100 ? '#67ffd2' : '#00bfff'"
      stroke-width="10"
      [attr.stroke-dasharray]="caloriasCircumference"
      [attr.stroke-dashoffset]="caloriasOffset"
      class="circle-progress"
      transform="rotate(-90 80 80)"
      fill="none"
    />

    <!-- Anel médio: Proteínas -->
    <circle
      cx="80"
      cy="80"
      [attr.r]="middleRadius"
      stroke-width="10"
      [attr.stroke]="proteinasPercentage > 100 ? '#67ffd2' : '#43d0fe'"
      [attr.stroke-dasharray]="proteinasCircumference"
      [attr.stroke-dashoffset]="proteinasOffset"
      class="circle-progress"
      transform="rotate(-90 80 80)"
      fill="none"
    />

    <!-- Anel interno: Carboidratos -->
    <circle
      cx="80"
      cy="80"
      [attr.r]="innerRadius"
      stroke-width="10"
      [attr.stroke]="carbPercentage > 100 ? '#67ffd2' : '#74dcfc'"
      [attr.stroke-dasharray]="carbCircumference"
      [attr.stroke-dashoffset]="carbOffset"
      class="circle-progress"
      transform="rotate(-90 80 80)"
      fill="none"
    />

    <!-- Anel central: Gorduras -->
    <circle
      cx="80"
      cy="80"
      [attr.r]="centerRadius"
      stroke-width="10"
      [attr.stroke]="gorduraPercentage > 100 ? '#67ffd2' : '#b7edfb'"
      [attr.stroke-dasharray]="gorduraCircumference"
      [attr.stroke-dashoffset]="gorduraOffset"
      class="circle-progress"
      transform="rotate(-90 80 80)"
      fill="none"
    />

    <!-- Valores alinhados com cada anel -->
    <image href="../../../assets/images/kcal.svg"
    i18n
    x="51"
    y="51.3"
    width="10"
    height="10"
    (mouseenter)="onIconHover($event, 'calorias', animatedCalories, calorias.max)"
    (mouseleave)="hideTooltip()"/>
    <text x="65" y="80" text-anchor="left" font-size="7" font-family="Helvetica" fill="#006e8c" dy="-21">
      {{ formattedCalories }} / {{ calorias.max }}
    </text>

    <image href="../../../assets/images/protein.svg"
    i18n
    x="51"
    y="67.3"
    width="10"
    height="10"
    (mouseenter)="onIconHover($event, 'proteinas', animatedProtein, proteinas.max)"
    (mouseleave)="hideTooltip()"/>
    <text x="65" y="80" text-anchor="left" font-size="7" font-family="Helvetica" fill="#006e8c" dy="-5">
      {{ formattedProtein }} / {{ proteinas.max }}
    </text>

    <image href="../../../assets/images/carb.svg"
    i18n
    x="51"
    y="83.4"
    width="10"
    height="10"
    (mouseenter)="onIconHover($event, 'carbo', animatedCarbs, carb.max)"
    (mouseleave)="hideTooltip()"/>
    <text x="65" y="80" text-anchor="left" font-size="7" font-family="Helvetica" fill="#006e8c" dy="10.9">
      {{ formattedCarb }} / {{ carb.max }}
    </text>

    <image href="../../../assets/images/fat.svg"
    i18n
    x="51"
    y="98.5"
    width="10"
    height="10"
    (mouseenter)="onIconHover($event, 'gordura', animatedFat, gordura.max)"
    (mouseleave)="hideTooltip()"/>
    <text x="65" y="80" text-anchor="left" font-size="7" font-family="Helvetica" fill="#006e8c" dy="27">
      {{ formattedFat }} / {{ gordura.max }}
    </text>
  </svg>
  @if (showTooltip) {
    <div 
        class="chart-tooltip" 
        #tooltip 
        [style.left.px]="tooltipX" 
        [style.top.px]="tooltipY">
        {{ tooltipText }}
    </div>
  }
  <!-- Popup de alimentos do dia -->
  @if (showDailyPopup) {
    <div class="popup-overlay" (click)="closePopup()">
      <div class="popup" (click)="$event.stopPropagation()">
        <h3 i18n>Registros de hoje</h3>
        
        <ul class="food-list">
          @for (food of dailyFoods; track food._id) {
            <li class="food-item">
              @if (selectedFoodToEdit && selectedFoodToEdit._id === food._id) {
                <!-- Modo edição: mostra somente gramas editáveis -->
                <div class="edit-mode">
                  <!-- Descrição em modo somente leitura -->
                  <span class="food-description">{{ food.description }}</span>
                  
                  <!-- Gramas editáveis -->
                  <input 
                    type="number" 
                    [(ngModel)]="selectedFoodToEdit.grams" 
                    class="edit-input" 
                    min="1" />
                    
                  <div class="actions">
                    <button (click)="saveEditedFood()" class="btn-edit" i18n>Salvar</button>
                    <button (click)="selectedFoodToEdit = null" class="btn-cancel" i18n>Cancelar</button>
                  </div>
                </div>
              } @else {
                <!-- Modo visualização -->
                <div class="view-mode">
                  <span>{{ food.description }} — {{ food.grams | number:'1.2-2' }}g ({{ food.calorias | number:'1.2-2' }} kcal)</span>
                  <div class="actions">
                    <button (click)="editFood(food)" class="btn-edit" i18n>Editar</button>
                    <button (click)="deleteFood(food._id)" class="btn-delete" i18n>Deletar</button>
                  </div>
                </div>
              }
            </li>
          }
        </ul>

        <button (click)="closePopup()" class="btn-close" i18n>Fechar</button>
      </div>
    </div>
  }
</div>