<div class="password-recovery-container">
  <h2 i18n>Recuperar Senha</h2>
  
  <!-- Logo -->
  <img src="assets/images/logo.svg" alt="DieTI" class="logo-image" />

  <!-- Formulário -->
  <form (ngSubmit)="onSubmit()" #recoveryForm="ngForm">
    <div class="form-group">
      <label for="email" i18n>Email:</label>
      <input 
        type="email" 
        id="email"
        name="email"
        [(ngModel)]="email"
        required
        email
        class="input-field"
        placeholder="Digite seu email"
        [class.invalid]="recoveryForm.controls?.['email']?.invalid && recoveryForm.controls?.['email']?.touched" />
      
      @if (recoveryForm?.controls?.['email']?.invalid && recoveryForm?.controls?.['email']?.touched) {
        <div class="error-message" i18n>
          Por favor, insira um email válido.
        </div>
      }
    </div>

    <button type="submit" [disabled]="!recoveryForm.valid" class="btn-primary" i18n>
      Enviar Código
    </button>
  </form>

  <!-- Voltar para login -->
  <div class="back-link">
    <a (click)="goToSignIn()" i18n>Voltar ao Login</a>
  </div>
</div>