* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: white;
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: Helvetica;
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #888;
  z-index: 10;
}

.logo-image {
  width: 60%;
  max-width: 350px;
  margin-bottom: 170px;
  align-self: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

#forgot-password {
  background: none;
  border: none;
  font-size: 12px;
  color: #666;
  text-align: left;
  margin-top: -10px;
  margin-bottom: 20px;
  margin-left: 160px;
  cursor: pointer;
}


#forgot-password:hover {
  color: #00bfff;
}

.submit-btn {
  width: 100%;
  max-width: 300px;
  padding: 14px;
  background-color: #a6e5ff;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #8ddbff;
}

.input-group {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #f9f4f4;
  font-size: 16px;
  outline: none;
  transition: border 0.2s ease, background-color 0.2s ease;
  color: #666;
}

.input-field:focus {
  border: 2px solid #00bfff;
  background-color: #ffffff;
}

.input-field::placeholder {
  color: #999;
}

/*Responsividade*/
/*Tablet*/

@media (max-width: 768px) {
  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 530px;
    padding: 20px;
    background-color: white;
    position: relative;
    width: 100%;
    font-family: Helvetica;
  }

  .back-arrow {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 24px;
    cursor: pointer;
    color: #888;
    z-index: 10;
  }

  .logo-image {
    width: 60%;
    max-width: 350px;
    margin-bottom: 120px;
    align-self: center;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }

  #forgot-password {
    background: none;
    border: none;
    font-size: 12px;
    color: #666;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: 160px;
    cursor: pointer;
  }


  #forgot-password:hover {
    color: #00bfff;
  }

  .submit-btn {
    width: 100%;
    max-width: 300px;
    padding: 14px;
    background-color: #a6e5ff;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .submit-btn:hover {
    background-color: #8ddbff;
  }

  .input-group {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }

  .input-field {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #f9f4f4;
    font-size: 16px;
    outline: none;
    transition: border 0.2s ease, background-color 0.2s ease;
    color: #666;
  }

  .input-field:focus {
    border: 2px solid #00bfff;
    background-color: #ffffff;
  }

  .input-field::placeholder {
    color: #999;
  }
}

/*Celular*/
@media (max-width: 300px) {
  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 530px;
    padding: 20px;
    background-color: white;
    position: relative;
    width: 100%;
    font-family: Helvetica;
  }

  .back-arrow {
    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #888;
    z-index: 10;
  }

  .logo-image {
    width: 250px;
    margin-top: 40px;
    margin-bottom: 100px;
    align-self: center;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }

  #forgot-password {
    background: none;
    border: none;
    font-size: 12px;
    color: #666;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: 160px;
    cursor: pointer;
  }


  #forgot-password:hover {
    color: #00bfff;
  }

  .submit-btn {
    width: 100%;
    max-width: 300px;
    padding: 14px;
    background-color: #a6e5ff;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .submit-btn:hover {
    background-color: #8ddbff;
  }

  .input-group {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }

  .input-field {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #f9f4f4;
    font-size: 16px;
    outline: none;
    transition: border 0.2s ease, background-color 0.2s ease;
    color: #666;
  }

  .input-field:focus {
    border: 2px solid #00bfff;
    background-color: #ffffff;
  }

  .input-field::placeholder {
    color: #999;
  }
}