<div class="page-container">
  <!-- Seta para voltar -->
  <div class="back-arrow" (click)="goBack()">
    &#x276E;
  </div>

  <!-- Imagem da logo -->
  <img src="assets/images/logo.svg" alt="DieTI" class="logo-image">

  <!-- Formulário -->
  <form class="login-form" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <input i18n type="email" id="email" [(ngModel)]="email" name="email" class="input-field" placeholder="Email"
        required />
    </div>

    <div class="input-group">
      <input i18n type="password" id="password" [(ngModel)]="password" name="password" class="input-field"
        placeholder="Senha" required />
    </div>

    <div class="forgot-password">
      <button type="button" id="forgot-password" (click)="goToPasswordRecovery()" i18n>
        Esqueci minha senha
      </button>
    </div>

    <button type="submit" class="submit-btn" i18n>Entrar</button>
  </form>
</div>